{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
<div class="progress" id = "progress" style="position: relative;display: none;">
      <div class="indeterminate"></div>
  </div>
    <nav>
        <div class="nav-wrapper green">
        <div class="progress" id="load">
      <div class="indeterminate"></div>
  </div>
            <a class="brand-logo hide-on-med-and-down left">
                <img src="{% static '/img/mythical-large.png' %}" height="8%" width="8%" style="padding:4px;padding-left: 30px" />
            </a>
            <a class="brand-logo hide-on-large-only left">
                <img src="{% static '/img/mythical-large.png' %}" height="50px" width="40px" style="padding-top:8px;"/>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQ</a></li>
            {% if user.is_authenticated %}
            <li class="right"><a href = "" data-activates='dropdown0' class='dropdown-button'><i class="large material-icons">perm_identity</i></a></li>
              <ul id='dropdown0' class='dropdown-content white'>
                <li><a href="/dashboard">Profile</a></li>
                <li><a href="/settings">Settings</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            {% else %}
            <li><a href="/login">Log In</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% block largepagecontent %} {% endblock %}
    <div class="container" style="padding-bottom:40px; ">
        {% block pagecontent %} {% endblock %}

    </div>
    <br><br><br><br><br><br>
            <footer class="page-footer green">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">This web app was successful with the help of Django 1.10.7 and Python 3. All logo/images were made in Inkscape.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://shashank-py.blogspot.in/">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://shashank-sharma.github.io">Github Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://shashank-sharma.github.io/100-days-of-code/">100DaysOfCode Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Made with Love by Shashank
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

<script>
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('contents').style.visibility="visible";
      },1000);
  }
}
      $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
      $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>
</body>
<!--

Hey, See this logo for nothing.

                -+::sdmhysss+/::.                 
            :`sNNhmMMMdNMMMmddddmNmy/`            
         ``h+yMMMMMMMMNy:-.      `./ohh/          
      ``+m:MhMMMMMMh+-`               `/s/        
     `d:hMhMMMMMMy.                      :y.      
    /-MmhMMMMMMN/                         .y      
   `MhhMMMMMMMM:  .`                       -      
  ssmMNMMMMMMMs o/.  +ossso:-.                    
 `hMdNMMMMMMMM: /o`:./hmMMMNNy--:    .:/`-//-     
 h+yNMMMMMMMMMo  -/:oooydMMMMNsy:` :omo/yms-``    
:oddmMMMMMMMMMNoo` ..----mMMMMNysyhNNoyNdssss+:-  
:ydmNMMMMMMMMMMMMmddhhdmmMMMMMMMMMMMNNMMdo-.`..`  
 -oydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMhooydmmmds.
.oddmddddmMMMMMMMMMMMMMMMMMMMMNMMMMMMMMMMMMMmdyo: 
   ``-+yNMMMMMMMMdyhhMMMMMMNds-sNMMMMMMMMMMMmdhhh+
  `:/+oooNMmNMNydmdNMMMMMmo-`   -dmMMMMMMMMMmhhh+-
     `/hmdodms+yMMMMMMMMMy` `.   :-hMMMMMMMMNNh/s`
     -/:. /:`-dMMMMMMMMMMd+/hNs`   -MMMMMMMMNhMm  
      `      +yMMMMMMMMMMNyh+ddoh/ /MMMMMMMMMNo+  
      y       ymNMMMMMNdNo`  y/`h/.mMMMMMMMmyN.   
      N-     .o.mhoMMMd//`  `:  `-dMMMMMMhdM:/    
      -y/`    ` yy sNmhdmhso++++hNMMMMMdMd-d`     
        /ho-    `o  `::..----+hMMMMMMhM+d+ `      
          :yds/.       `-/sdMMMMMMMMdoh``         
            `/sdmdddmmNMMMNmNMMmdMMs`.            
                 `-:/+shddmmyo-:/:`               
-->
</html>
