{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- JS Files -->
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css" />

</head>

<body>
    <nav>
        <div class="nav-wrapper green">
            <a class="brand-logo">
            <img src="{% static '/img/mythical-large.png' %}" height="12%" width = "12%" style = "padding:20px;"/>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block pagecontent %} {% endblock %}
    </div>
</body>

</html>
