{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<div class="row">
<div class="col s12 m4">
</div>
<div class="center col s12 m4">
  <p class="flow-text" style="font-size: 40px">Log in</p>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit" class="btn">Log in</button>
    <br><br>
    <a href="{% url 'signup' %}">New Here? Sign up</a>
    <br>
    <a href="{% url 'password_reset' %}">Forgot Password ?</a>
  </form>
  <br><br>
  <hr>
  <a href = "#modal1" class="btn">Enter as guest</a>
    <br><br>

      <div id="modal1" class="modal">
    <div class="modal-content flow-text">
    <h4>Guest</h4>
    Username: testing<br>
    Password: similarpassword
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>
  <div style="color: grey;">
  <a href = "/faq/security" style="color: grey;" >Security</a>
  |
  <a href = "/faq/contact" style="color: grey;">Contact</a>
  </div>
  </div>
  </div>
{% endblock %}
