language: python
python:
- '3.5'
- '3.6'
services:
- mysql
env:
  -DJANGO=1.10 DB=mysql
install:
- pip install -r requirements.txt
before_script:
- mysql -e 'create database test;' -u root
script:
- python manage.py test
after_success: coveralls
